h1, h2 {
    text-align: center;
    line-height: 0.7;
   
}

#menu {
    text-align: left;
    font-family: Lobster;
}

h5 {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    
}

body {
    background-color: beige;
}

nav {
    text-align: center;

}

dl {
    list-style-type: none;
    line-height: 0.9;
    
}

dt{
    
    font-weight: bold;
}

dd {
    font-style: italic;
    line-height: 1;
    margin-left: 40px;
}

#p1 {
    background-color: beige;
    
}

img {
    float: right;
    margin: 0 0 10px 10px;
}
#imgBorder {
    margin: 0 auto;
    border-style: solid;
    border-width: 5px;
    border-color: firebrick;
}

hr {
    height: 10px;
    background-color: firebrick; 
}

.centerTable {
    margin: 0 auto;
}

th {
   
    height: 50px;
    text-align: center;
}
tr {
    text-align: left;
}